<div class="uk-navbar-container uk-light uk-navbar-transparent uk-background-secondary" uk-navbar="boundary-align: true; align: right;">
  <div class="uk-navbar-left">
    <a href="/" class="uk-navbar-item uk-logo">History Museum Console</a>
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="/admin">Home</a></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">{{ req.user.firstName }}&nbsp;&nbsp;<i class="fas fa-caret-down"></i></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">Account</li>
            <li><a href="/admin/logout">Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
