{% extends "dashboard/mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

<div class="uk-margin uk-card uk-card-default">
    <div class="uk-card-header">
        <h2 class="uk-card-title"><i class="fas fa-image text-icon-left"></i>{{ pageTitle }}</h2>
    </div>

    <div class="uk-card-body">
        <div uk-grid>
            <div class="uk-width-2-3@m media-preview">
                {% if post.display.display == "file" and post.fileType == "image" %}
                    <img src="{{ post.fileName | pathToUploads }}" alt="{{ post.name }}">

                {% elseif post.display.display == "iframe" %}
                    <iframe src="{{ post.fileName | pathToUploads }}"></iframe>

                {% elseif post.display.display == "file" and post.fileType == "audio" %}
                    <audio controls>
                        <source src="{{ post.fileName | pathToUploads }}" type="{{ post.mimeType }}">
                        Could not load audio file.
                    </audio>

                {% elseif post.display.display == "file" and post.fileType == "video" %}
                    <video controls>
                        <source src="{{ post.fileName | pathToUploads }}" type="{{ post.mimeType }}">
                        Could not load video file.
                    </video>

                {% elseif post.display.display == "fallbackImage" %}
                    <img src="{{ post.display.fallbackImage }}" alt="{{ post.name }}">

                {% else %}
                    <div class="uk-text-center">
                        {{ post.name }}
                    </div>
                {% endif %}

                <div class="uk-margin">
                    <a href="{{ post.fileName | pathToUploads }}" class="uk-button uk-button-default" target="_blank">
                        <i class="fas fa-external-link-square-alt text-icon-left"></i>Open file in new window
                    </a>
                </div>
            </div>

            <div class="uk-width-1-3@m">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <div class="uk-margin">
                            <label class="uk-form-label">Name</label>
                            <input type="text" value="{{ post.name }}" name="name" class="uk-input" placeholder="Name" required>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Caption</label>
                            <input type="text" value="{{ post.caption }}" name="caption" class="uk-input" placeholder="Caption">
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Description</label>
                            <textarea class="uk-textarea" id="description" placeholder="Description">{{ post.description }}</textarea>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Categories</label>
                            {% include "dashboard/components/categorySelection.njk" %}
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Tags</label>
                            {% include "dashboard/components/tagSelection.njk" %}
                        </div>

                        <hr>

                        <div class="uk-margin uk-text-small">
                            <ul class="uk-list">
                                <li><strong>Slug:</strong> /<span id="slug">{{ post.slug }}</span></li>
                                <li><strong>MIME Type:</strong> {{ post.mimeType }}</li>
                                <li><strong>File name:</strong> {{ post.fileName }}</li>
                            </ul>
                        </div>

                        <input type="hidden" id="mediaFileId" value="{{ post._id }}">
                        <input type="hidden" id="mediaFileName" value="{{ post.fileName }}">
                    </div>

                    <div class="uk-card-footer">
                        <div class="uk-margin">
                            <a href="#" id="deleteFileButton" class="uk-text-large" title="Delete"><i class="fas fa-trash uk-text-danger"></i></a>
                            <div class="uk-align-right">
                                <button class="uk-button uk-button-primary" id="saveMediaFileButton"><i class="fas fa-save text-icon-left"></i>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="file-upload-overlay js-file-upload-overlay uk-light uk-hidden">
    <div class="uk-overlay-primary uk-position-cover">
        <div class="uk-position-center">
            <span uk-overlay-icon></span>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ super() }}

    <script type="text/javascript" src="/js/dashboard/media.js"></script>
{% endblock %}
