{% extends "dashboard/mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

<div class="uk-margin uk-card uk-card-default">
    <div class="uk-card-header">
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <h2 class="uk-card-title"><i class="fas fa-image text-icon-left"></i>{{ pageTitle }}</h2>
            </div>
            <div>
                <div uk-grid>
                    <div class="uk-text-right uk-width-expand">
                        <form class="uk-search uk-search-default uk-width-large@m" method="get" action="/dashboard/media/">
                            <input class="uk-search-input" name="search" id="searchField" value="{{ search }}" type="search" placeholder="Search...">
                        </form>
                    </div>
                    <div>
                        <form action="/dashboard/media" method="post" id="uploadForm">
                            <input id="fileUpload" type="file" name="files" class="uk-hidden">
                        </form>
                        <button class="uk-button uk-button-secondary js-media-file-upload-button"><i class="fas fa-upload text-icon-left"></i>Upload new file...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card-body">
        {% include "dashboard/media/thumbnails.njk" %}
    </div>

    {% if numberOfPages > 1 %}
        <div class="uk-card-footer">
            <ul class="uk-pagination uk-flex-center" uk-margin>
                {% if page > 0 %}
                    <li><a href="?page={{ previousPage }}"><span uk-pagination-previous></span></a></li>
                {% endif %}

                {% for i in range(0, numberOfPages) %}
                    <li><a href="?page={{ i }}" {% if i == page %}class="uk-active"{% endif %}>{{ i + 1 }}</a></li>
                {% endfor %}

                {% if nextPage > 0 %}
                    <li><a href="?page={{ nextPage }}"><span uk-pagination-next></span></a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>

<div class="file-upload-overlay js-file-upload-overlay uk-light uk-hidden">
    <div class="uk-overlay-primary uk-position-cover">
        <div class="uk-position-center">
            <span uk-overlay-icon></span>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ super() }}

    <script type="text/javascript" src="/js/dashboard/media.js"></script>
{% endblock %}
