<div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-child-width-1-6@l" uk-grid>
    {% for mediaFile in mediaFiles %}
        {% set editLink = "/dashboard/media/edit/" + mediaFile.slug %}

        <div class="media-grid">
            <div class="thumbnail js-media-grid-thumbnail" data-edit-link="{{ editLink }}" data-file-path="{{ pathToFiles }}/{{ mediaFile.fileName }}" data-file-name="{{ mediaFile.name }}" data-file-type="{{ mediaFile.fileType }}" data-file-id="{{ mediaFile._id }}">
                {% if mediaFile.display.thumbnail == "file" and mediaFile.fileType == "image" %}
                    <img src="{{ pathToFiles }}/{{ mediaFile.fileName }}" alt="{{ mediaFile.name }}">

                {% elseif mediaFile.display.thumbnail == "fallbackImage" %}
                    <img src="/img/{{ mediaFile.display.fallbackImage }}" alt="{{ mediaFile.name }}">

                {% else %}
                    <div class="uk-text-center">
                        {{ mediaFile.name }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="uk-text-meta">There are no media files at the moment.</div>
    {% endfor %}
</div>
