{% extends "dashboard/mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="/libs/simplemde/simplemde.min.css" type="text/css">
{% endblock %}

{% block content %}

    <div class="uk-margin uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-child-width-1-2@m uk-grid-small" uk-grid>
                <div>
                    <h2 class="uk-card-title"><i class="fas fa-edit text-icon-left"></i>{{ pageTitle }}</h2>
                </div>
                <div class="uk-text-right">
                    <button class="uk-button uk-button-secondary" type="button" uk-toggle="target: #offcanvas-flip"><i class="fas fa-bars text-icon-left"></i>Meta Information</button>
                </div>
            </div>
        </div>

        <div class="uk-card-body">
            <div class="uk-background-default uk-padding-small uk-panel uk-margin-bottom" style="z-index: 980;" uk-sticky="bottom: #offset">
                <div uk-grid>
                    <div>
                        <ul class="uk-iconnav">
                            <li><a href="#" id="toolbarSaveButtton"><i class="fas fa-save"></i></a></li>

                            {% if post and post.getStatus() == 'published' %}
                                <li><a href="/blog/article/{{ post.slug }}" target="postPreview"><i class="fas fa-eye"></i></a></li>
                            {% elseif post %}
                                <li><a href="/dashboard/blog/preview/{{ post.slug }}" target="postPreview"><i class="fas fa-eye"></i></a></li>
                            {% endif %}

                            <li><a href="#" id="toolbarMediaButtton"><i class="fas fa-image"></i></a></li>

                            {% if post %}
                                <li><a href="#" id="toolbarDeleteButtton"><i class="fas fa-trash"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>

                    <div>
                        <select id="blogPostStatus" class="uk-select uk-form-small uk-form-width-small" data-status="{{ post.status }}">
                            <option value="draft" {% if post and post.getStatus() == 'draft' %}selected{% endif %}>Draft</option>
                            <option value="scheduled" {% if post and post.getStatus() == 'scheduled' %}selected{% endif %}>Scheduled</option>
                            <option value="published" {% if post and post.getStatus() == 'published' %}selected{% endif %}>Published</option>
                        </select>
                    </div>

                    <div id="scheduleForm" {% if not post or post.getStatus() != 'scheduled' %}class="uk-hidden"{% endif %}>
                        <i class="far fa-calendar-alt uk-margin-small-right"></i><input class="uk-input uk-form-small uk-form-width-medium" id="scheduleDateField" value="{{ publishedDate }}" type="text" placeholder="16 September 2025 14:30">
                    </div>

                    {% if post and post.getStatus() == 'published' and publishedDate %}
                        <div class="uk-text-small uk-text-muted">
                            <strong>Published:</strong> {{ publishedDate }}
                        </div>
                    {% endif %}

                    <div class="uk-width-expand uk-text-right uk-text-small">
                        <a href="#" id="markdownGuide"><i class="fas fa-external-link-alt text-icon-left"></i>Markdown Guide</a>
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <input class="uk-input uk-form-large" type="text" id="blogPostName" placeholder="Title" value="{{ post.name }}">
            </div>

            <div class="uk-child-width-1-2 js-markdown-wrapper" uk-grid>
                <div>
                    <textarea class="js-markdown-editor">{{ post.markdown }}</textarea>
                </div>
                <div>
                    <div class="js-markdown-preview"></div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="blogPostId" value="{{ post._id }}">
    <input type="hidden" id="blogPostSlug" value="{{ post.slug }}">

    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <h3>Meta Information</h3>

            <div class="uk-margin">
                <h4>Excerpt</h4>
                <textarea class="uk-textarea" rows="5" id="blogPostExcerpt" placeholder="Excerpt">{{ post.excerpt }}</textarea>
            </div>

            <div class="uk-margin-large">
                <h4>Categories</h4>
                {% include "dashboard/components/categorySelection.njk" %}
            </div>

            <div class="uk-margin-large">
                <h4>Tags</h4>
                {% include "dashboard/components/tagSelection.njk" %}
            </div>

            <div class="uk-margin-large">
                <h4>Featured Image</h4>
                <div id="featuredImagePreview">
                    {% if featuredImage %}
                        <img src="{{ featuredImage.fileName | pathToUploads }}" alt="{{ featuredImage.name }}">
                    {% endif %}
                </div>
                <input type="hidden" value="{{ post.featuredImage }}" id="featuredImageId">
                <button class="uk-button uk-button-default uk-margin-top" id="selectFeaturedImageButton">
                    <i class="fas fa-image text-icon-left"></i>Select featured image...
                </button>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/dashboard/blog-editor.js"></script>
{% endblock %}
