{% extends "dashboard/mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="/libs/simplemde/simplemde.min.css" type="text/css">
{% endblock %}

{% block content %}

  <div class="uk-margin uk-card uk-card-default">
    <div class="uk-card-header">
      <h2 class="uk-card-title"><i class="fas fa-edit text-icon-left"></i>{{ pageTitle }}</h2>
    </div>

    <div class="uk-card-body">
      <div class="uk-background-default uk-padding-small uk-panel uk-margin-bottom" style="z-index: 980;" uk-sticky="bottom: #offset">
        <div uk-grid>
          <div>
            <ul class="uk-iconnav">
              <li><a href="#" id="toolbarSaveButtton"><i class="fas fa-save"></i></a></li>
              <li><a href="#" id="toolbarPreviewButtton"><i class="fas fa-eye"></i></a></li>
              <li><a href="#" id="toolbarInventoryButtton"><i class="fas fa-archive"></i></a></li>
              {% if exhibition %}
                <li><a href="#" id="toolbarDeleteButtton"><i class="fas fa-trash"></i></a></li>
              {% endif %}
            </ul>
          </div>

          <div class="uk-width-expand uk-text-right uk-text-small">
            <a href="#" id="markdownGuide">Markdown Guide</a>
          </div>
        </div>
      </div>

      <div class="uk-child-width-1-2 uk-margin-bottom" uk-grid>
        <div>
          <div class="uk-margin">
              <input class="uk-input" type="text" id="exhibitionName" placeholder="Exhibition Title" value="{{ exhibition.name }}">
          </div>
          <div class="uk-margin">
              <textarea class="uk-textarea" rows="5" id="exhibitionDescription" placeholder="Exhibition Description">{{ exhibition.description }}</textarea>
          </div>
        </div>
        <div>
          add meta tags<br>
          add status (draft, published, etc)<br>
          add featured image
        </div>
      </div>

      <div class="uk-inline exhibition-templates-menu uk-margin-bottom">
        <button class="uk-button uk-button-default">Choose a template<i class="fas fa-caret-down text-icon-right"></i></button>
        <div uk-dropdown="mode: click" id="exhibitionTemplatesDropdown">
          <div class="uk-column-1-2">
            <div class="uk-width-medium">
              <a href="#" class="image-link uk-padding-small js-exhibition-template-button" data-template-id="article">
                <span>Article</span>
                <img src="/img/exhibition-templates/article.svg" alt="Article">
              </a>
            </div>
            <div class="uk-width-medium">
              <a href="#" class="image-link uk-padding-small js-exhibition-template-button" data-template-id="sections">
                <span>Sections</span>
                <img src="/img/exhibition-templates/sections.svg" alt="Sections">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="templateAnchor"></div>
    </div>
  </div>

  <input type="hidden" id="exhibitionId" value="{{ exhibition._id }}">

  {% for text in exhibition.texts %}
    <textarea class="uk-hidden js-editor-text">{{ text.markdown }}</textarea>
  {% endfor %}
{% endblock %}

{% block javascripts %}
  {{ super() }}

  <script type="text/javascript" src="/js/dashboard/templates.js"></script>

  {% if exhibition %}
    <script type="text/javascript">
      $(document).ready(function() {
        _dashboardTemplates.loadExhibitionTemplate('{{ exhibition.template }}', true);
      });
    </script>
  {% endif %}
{% endblock %}
