{% extends "dashboard/mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

    <div class="uk-margin uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                <div>
                    <h2 class="uk-card-title"><i class="fas fa-newspaper text-icon-left"></i>{{ pageTitle }}</h2>
                </div>
                <div>
                    <div uk-grid>
                        <div class="uk-text-right uk-width-expand">
                            <form class="uk-search uk-search-default uk-width-large@m" method="get" action="/dashboard/blog/">
                                <input class="uk-search-input" name="search" id="searchField" value="{{ search }}" type="search" placeholder="Search...">
                            </form>
                        </div>
                        <div>
                            <a href="/dasheboard/blog/new" class="uk-button uk-button-secondary"><i class="fas fa-edit text-icon-left"></i>Create new blog post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-card-body">
            <table class="uk-table uk-table-middle uk-table-striped">
                <tbody>
                    {% include "dashboard/blog/tableRows.njk" %}
                </tbody>
            </table>
        </div>

        {% include "dashboard/components/pagination.njk" %}
    </div>

{% endblock %}
