{% for post in blogPosts %}
    {% set editLink = "/dashboard/blog/edit/" + post.slug %}

    <tr>
        <td class="item-row js-item-row" data-edit-link="{{ editLink }}">
            {{ post.name }} <em class="uk-text-muted uk-text-small">({{ post.status }})</em>
            <div class="uk-text-meta">{{ post.excerpt }}</div>
        </td>
        <td class="uk-text-right">
            {% include "dashboard/components/itemEditButtons.njk" %}
        </td>
    </tr>
{% else %}
    <tr>
        <td>
            <div class="uk-text-meta">There are no blog posts.</div>
        </td>
        <td></td>
    </tr>
{% endfor %}
