<div class="uk-panel-scrollable uk-height-small">
    {% for category in categories %}
        <div class="category">
            {% set id = category["_id"] | string %}
            <input type="checkbox" class="uk-checkbox js-category-checkbox" id="{{ id }}Checkbox" name="categories" value="{{ id }}" {% if blogPost.categories and id in blogPost.categories %}checked{% endif %}>
            <label for="{{ category["_id"] }}Checkbox">{{ category.name }}</label>
        </div>
    {% endfor %}
</div>
