<a href="{{ editLink }}" class="uk-margin-small-right"><i class="fas fa-pencil-alt"></i></a>

{% if post.status == 'published' %}
    <a href="/blog/article/{{ post.slug }}" target="postPreview"><i class="fas fa-eye"></i></a>
{% else %}
    <a href="/dashboard/blog/preview/{{ post.slug }}" target="postPreview"><i class="fas fa-eye"></i></a>
{% endif %}
