<div class="uk-navbar-container uk-light uk-navbar-transparent uk-background-secondary" uk-navbar="boundary-align: true; align: right;">
  <div class="uk-navbar-left">
    <a href="/dashboard" class="uk-navbar-item uk-logo">History Museum Console</a>
    <ul class="uk-navbar-nav">
      <li {% if pageId == "dashboard" %}class="uk-active"{% endif %}><a href="/dashboard">Home</a></li>
      <li {% if pageId == "exhibitions" %}class="uk-active"{% endif %}><a href="/dashboard/exhibitions">Exhibitions</a></li>
      <li {% if pageId == "blog" %}class="uk-active"{% endif %}><a href="/dashboard/blog">Blog</a></li>
      <li {% if pageId == "media" %}class="uk-active"{% endif %}><a href="/dashboard/media">Media</a></li>
      <li {% if pageId == "links" %}class="uk-active"{% endif %}><a href="/dashboard/links">Links</a></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">{{ req.user.firstName }}&nbsp;&nbsp;<i class="fas fa-caret-down"></i></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">Account</li>
            <li><a href="/dashboard/logout">Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
