<div class="uk-navbar-container uk-light uk-navbar-transparent uk-background-secondary" uk-navbar="boundary-align: true; align: right;">
  <div class="uk-navbar-left">
    <a href="/dashboard" class="uk-navbar-item uk-logo">History Museum Console</a>
    <ul class="uk-navbar-nav uk-visible@m">
      <li {% if pageId == "dashboard" %}class="uk-active"{% endif %}><a href="/dashboard"><i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;Dashboard</a></li>
      <li {% if pageId == "exhibitions" %}class="uk-active"{% endif %}><a href="/dashboard/exhibitions"><i class="fas fa-book"></i>&nbsp;&nbsp;Exhibitions</a></li>
      <li {% if pageId == "blog" %}class="uk-active"{% endif %}><a href="/dashboard/blog"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;Blog</a></li>
      <li {% if pageId == "media" %}class="uk-active"{% endif %}><a href="/dashboard/media"><i class="fas fa-images"></i>&nbsp;&nbsp;Media</a></li>
      <li {% if pageId == "links" %}class="uk-active"{% endif %}><a href="/dashboard/links"><i class="fas fa-link"></i>&nbsp;&nbsp;Links</a></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">
          <span class="uk-visible@m">{{ req.user.firstName }}</span>
          <i class="fas fa-user uk-hidden@m"></i>
          &nbsp;&nbsp;<i class="fas fa-caret-down"></i>
        </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">Account</li>
            <li><a href="/dashboard/logout">Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
