<nav class="uk-navbar-container uk-light uk-navbar-transparent uk-background-secondary" uk-navbar>
  <div class="uk-navbar-left">
    <a href="/dashboard" class="uk-navbar-item uk-logo">History Museum Dashboard</a>
    <ul class="uk-navbar-nav">
      <li {% if pageId == "dashboard" %}class="uk-active"{% endif %}>
        <a href="/dashboard"><i class="fas fa-tachometer-alt text-icon-left"></i>Dashboard</a>
      </li>
      <li {% if pageId == "exhibitions" or pageId == "newExhibition" %}class="uk-active"{% endif %}>
        <a href="/dashboard/exhibitions"><i class="fas fa-image text-icon-left"></i>Exhibitions</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li {% if pageId == "exhibitions" %}class="uk-active"{% endif %}>
              <a href="/dashboard/exhibitions"><i class="fas fa-eye text-icon-left"></i>All exhibitions</a>
            </li>
            <li {% if pageId == "newExhibition" %}class="uk-active"{% endif %}>
              <a href="/dashboard/exhibitions/new"><i class="fas fa-edit text-icon-left"></i>New exhibition</a>
            </li>
          </ul>
        </div>
      </li>
      <li {% if pageId == "blog" %}class="uk-active"{% endif %}>
        <a href="/dashboard/blog"><i class="fas fa-newspaper text-icon-left"></i>Blog</a>
      </li>
      <li {% if pageId == "media" %}class="uk-active"{% endif %}>
        <a href="/dashboard/inventory"><i class="fas fa-archive text-icon-left"></i>Inventory</a>
      </li>
      <li {% if pageId == "research" %}class="uk-active"{% endif %}>
        <a href="/dashboard/research"><i class="fas fa-book text-icon-left"></i>Research</a>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">{{ req.user.firstName }}<i class="fas fa-caret-down text-icon-right"></i></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li {% if pageId == "account" %}class="uk-active"{% endif %}>
              <a href="/dashboard/account"><i class="fas fa-user-circle text-icon-left"></i>Account</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
              <a href="/dashboard/logout"><i class="fas fa-sign-out-alt text-icon-left"></i>Logout</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
