<div class="{% if not post.tags %}uk-hidden{% endif %} uk-margin tag-cluster js-tag-cluster" id="tagCluster">
    {% for tag in post.tags %}
        <span class="uk-badge uk-margin-small-right js-tag-badge"><span class="js-tag-text">{{ tag }}</span>&nbsp;<i class="fa fa-times cursor-pointer js-delete-tag"></i></span>
    {% endfor %}
</div>

<input type="hidden" value="{{ post.tags }}" class="tag-hidden js-tag-hidden" id="tagHidden">
<input type="text" class="uk-input js-tag-input" placeholder="Type tags and press enter">

<div class="uk-text-meta uk-margin-small">
    Seperate tags with commas
</div>
