<div class="uk-text-muted uk-margin-bottom"><b>Template:</b> Article</div>

<div class="uk-child-width-1-2" uk-grid>
  <div>
    <textarea class="js-markdown-editor"></textarea>
  </div>
  <div>
    <div id="markdownPreview"></div>
  </div>
</div>
