<div class="uk-text-muted uk-margin-bottom"><b>Template:</b> Sections</div>

<div class="uk-section-default uk-padding-small js-section">
  <div class="uk-child-width-1-2 js-exhibition-template" uk-grid>
    <div>
      <textarea class="js-markdown-editor"></textarea>
    </div>
    <div>
      <div class="markdown-preview"></div>
    </div>
  </div>
</div>

<div class="uk-margin-top" id="sectionFooter">
  <button class="uk-button uk-button-default" id="addSection">Add section</button>
</div>
