<div class="uk-text-muted uk-margin-bottom" id="templateId" data-template-id="sections"><b>Template:</b> Sections</div>

<div class="uk-section-default uk-padding-small js-section">
  <div class="uk-child-width-1-2 js-exhibition-template" uk-grid>
    <div>
      <textarea class="js-markdown-editor"></textarea>
    </div>
    <div>
      <div class="markdown-preview"></div>
    </div>
  </div>
  <div class="uk-margin-top uk-hidden js-delete-section-wrapper">
    <button class="uk-button uk-button-default js-delete-section"><i class="fas fa-trash text-icon-left"></i>Delete Section</button>
  </div>
</div>

<div class="uk-margin-top" id="sectionFooter">
  <button class="uk-button uk-button-secondary" id="addSection"><i class="fas fa-plus-square text-icon-left"></i>Add section</button>
</div>
