{% extends "base.njk" %}

{% block title %}An error occurred{% endblock %}

{% block content %}
  {% if message %}
    <div>{{ message }}</div>
  {% endif %}

  <div>
    {% if error %}
      {{ error }}
    {% else %}
      An error occurred
    {% endif %}
  </div>
{% endblock %}
