{% extends "mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

<h1>Posts in the category "{{ pageTitle }}"</h1>

{% include "blog/components/blogRows.njk" %}
{% include "components/pagination.njk" %}

{% endblock %}
