{% extends "mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

{% include "blog/components/blogRows.njk" %}

{% include "components/pagination.njk" %}


{% endblock %}
