{% extends "dashboard/mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="/libs/simplemde/simplemde.min.css" type="text/css">
{% endblock %}

{% block content %}

  <div class="uk-margin uk-card uk-card-default">
    <div class="uk-card-header">
      <h2 class="uk-card-title"><i class="fas fa-edit text-icon-left"></i>Create New Exhibition</h2>
    </div>

    <div class="uk-card-body">
      <div class="uk-background-default uk-padding-small uk-panel uk-margin-bottom" style="z-index: 980;" uk-sticky="bottom: #offset">
        <ul class="uk-iconnav">
          <li><a href="#"><i class="fas fa-save"></i></a></li>
          <li><a href="#"><i class="fas fa-eye"></i></a></li>
          <li><a href="#"><i class="fas fa-trash"></i></a></li>
        </ul>
      </div>

      <div class="uk-inline exhibition-templates-menu uk-margin-bottom">
        <input type="hidden" id="template">
        <button class="uk-button uk-button-default">Choose a template<i class="fas fa-caret-down text-icon-right"></i></button>
        <div uk-dropdown="mode: click" id="exhibitionTemplatesDropdown">
          <div class="uk-column-1-2">
            <div class="uk-width-medium">
              <a href="#" class="image-link uk-padding-small js-exhibition-template-button" data-template-id="article">
                <span>Article</span>
                <img src="/img/exhibition-templates/article.svg" alt="Article">
              </a>
            </div>
            <div class="uk-width-medium">
              <a href="#" class="image-link uk-padding-small js-exhibition-template-button" data-template-id="sections">
                <span>Sections</span>
                <img src="/img/exhibition-templates/sections.svg" alt="Sections">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-hidden uk-text-center" id="loadTemplateSpinner">
        <div uk-spinner></div>
      </div>

      <div id="templateAnchor"></div>
    </div>
  </div>


{% endblock %}
