{% extends "dashboard/mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

  <div class="uk-margin uk-card uk-card-default">
    <div class="uk-card-header">
      <h2 class="uk-card-title"><i class="fas fa-edit text-icon-left"></i>Create New Exhibition</h2>
    </div>

    <div class="uk-card-body">

    </div>

    <div class="uk-card-footer">
    </div>
  </div>


{% endblock %}
