{% extends "admin/base.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
  <div class="uk-container uk-margin-xlarge-top">
    <div class="uk-margin uk-card uk-card-default uk-width-1-2@m">
      <div class="uk-card-header">
        <h2 class="uk-card-title">Login</h2>
      </div>

      <div class="uk-card-body">
        <div id="messageAnchor" class="uk-hidden"></div>

        <div class="text-center">
          <form id="loginForm" action="/admin/login" method="post">
            <input type="hidden" name="authToken" value="{{ authToken }}">

            <div class="uk-margin">
              <input type="text" value="" name="userName" class="uk-input uk-form-width-large" placeholder="Username" required>
            </div>
            <div class="uk-margin">
              <input type="password" value="" name="password" class="uk-input uk-form-width-large" placeholder="Password" required>
            </div>
            <div class="uk-margin">
              <button class="uk-button uk-button-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
