{% extends "dashboard/mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

<div class="uk-child-width-expand@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h2 class="uk-card-title"><i class="fas fa-user-circle text-icon-left"></i>Account Information</h2>
            </div>

            <form id="accountForm" action="/dashboard/users/edit" method="patch" class="uk-form-horizontal">
                <input type="hidden" value="{{ user.userName }}" name="userName" id="userName">

                <div class="uk-card-body">
                    <div class="uk-margin">
                        <label for="firstName" class="uk-form-label">First Name</label>
                        <div class="uk-form-controls">
                            <input type="text" value="{{ user.firstName }}" name="firstName" class="uk-input" placeholder="First Name" required>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label for="lastName" class="uk-form-label">Last Name</label>
                        <div class="uk-form-controls">
                            <input type="text" value="{{ user.lastName }}" name="lastName" class="uk-input" placeholder="Last Name" required>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label for="emailAddress" class="uk-form-label">Email Address</label>
                        <div class="uk-form-controls">
                            <input type="email" value="{{ user.emailAddress }}" name="emailAddress" class="uk-input" placeholder="Email Address" required>
                        </div>
                    </div>
                </div>

                <div class="uk-card-footer">
                    <a href="#" id="deleteUserButton" class="uk-text-large" title="Delete User"><i class="fas fa-trash uk-text-danger"></i></a>
                    <div class="uk-align-right">
                        <button class="uk-button uk-button-primary"><i class="fas fa-save text-icon-left"></i>Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h2 class="uk-card-title"><i class="fas fa-key text-icon-left"></i>Password</h2>
            </div>

            <form id="passwordForm" action="/dashboard/users/edit/password" method="patch" class="uk-form-horizontal">
                <input type="hidden" value="{{ user.userName }}" name="userName">

                <div class="uk-card-body">
                    <div class="uk-margin">
                        <label for="oldPassword" class="uk-form-label">Old Password</label>
                        <div class="uk-form-controls">
                            <input type="password" value="" name="oldPassword" class="uk-input" placeholder="Old Password" required>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label for="password" class="uk-form-label">New Password</label>
                        <div class="uk-form-controls">
                            <input type="password" value="" name="password" id="password" class="uk-input" placeholder="New Password" required>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label for="repeatPassword" class="uk-form-label">Repeat New Password</label>
                        <div class="uk-form-controls">
                            <input type="password" value="" name="repeatPassword" class="uk-input" placeholder="Repeat New Password" required>
                        </div>
                    </div>
                </div>

                <div class="uk-card-footer uk-text-right">
                    <button class="uk-button uk-button-primary"><i class="fas fa-save text-icon-left"></i>Save New Password</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
    {{ super() }}

    <script type="text/javascript" src="/js/dashboard/users.js"></script>
{% endblock %}
