{% for mediaFile in mediaFiles %}
    <a href="{{ mediaFile.fileName | pathToUploads }}">
        {% if mediaFile.display.thumbnail == "file" and mediaFile.fileType == "image" %}
            <img src="{{ mediaFile.fileName | pathToUploads }}" alt="{{ mediaFile.name }}">
            <div>{{ mediaFile.name }}</div>

        {% elseif mediaFile.display.thumbnail == "fallbackImage" %}
            <img src="{{ mediaFile.display.fallbackImage }}" alt="{{ mediaFile.name }}">
            <div>{{ mediaFile.name }}</div>

        {% else %}
            <div>{{ mediaFile.name }}</div>
        {% endif %}
    </a>
{% else %}
    <div>There are no media files matching your query.</div>
{% endfor %}
