.main-nav {
  padding: 30px 0;

  .main-logo {
    // Logo styles
  }

  .nav-links {
    a {
      &.main {
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        margin: 9px 15px;
        position: relative;

        &:after {
          background-color: #ffffff;
          bottom: -5px;
          content: "";
          height: 3px;
          left: 0;
          position: absolute;
          transition: all 0.4s;
          width: 0;
        }

        &:hover {
          text-decoration: none;

          &:after {
            width: 100%;
          }
        }

        &.uk-open {
          &:after {
            width: 100%;
          }
        }
      }

      &.overlay-link {
        background: rgba(0,0,0,0.5);
        color: #ffffff;
        font-weight: bold;

        &:hover {
          background: rgba(0,0,0,0.2);
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: $breakpoint-medium) {
    padding: 10px 0;

    .burger-menu {
      display: block;
      font-size: 1.2em;
      margin-top: 5px;
    }
  }
}

#mobileMenu {
  .nav-links {
    .main {
      display: block;
      margin: 15px;
    }
  }
}
