.main-nav {
  padding: 30px 0;

  .main-logo {
    // Logo styles
  }

  .nav-links {
    a {
      &.main {
        color: #000000;
        display: inline-block;
        font-weight: bold;
        margin: 9px 15px;

        &:hover {
          color: $metaColor;
          text-decoration: none;
        }
      }

      &.overlay-link {
        background: rgba(0,0,0,0.5);
        color: #ffffff;
        font-weight: bold;

        &:hover {
          background: rgba(0,0,0,0.2);
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: $breakpoint-medium) {
    padding: 10px 0;

    .burger-menu {
      color: #000000;
    }

  }
}

#mobileMenu {
  .nav-links {
    .main {
      display: block;
      margin: 15px;
    }
  }
}
