.main-nav {
  padding: 30px 0;

  .main-logo {
    // Logo styles
  }

  .nav-links {
    a {
      color: #000000;
      display: inline-block;
      font-weight: bold;
      margin: 9px 15px;

      &:hover {
        color: $metaColor;
        text-decoration: none;
      }
    }
  }

  @media (max-width: $breakpoint-medium) {
    padding: 10px 0;

    .burger-menu {
      color: #000000;
    }

  }
}

#mobileMenu {
  .nav-links {
    a {
      display: block;
      margin: 15px;
    }
  }
}
