{% extends "mainBody.njk" %}

{% block content %}

  <div uk-slideshow="animation: push; max-height: 600; autoplay: true;">
    <div class="uk-position-relative uk-visible-toggle uk-light">
      <ul class="uk-slideshow-items">
        <li>
          <img src="/img/tmp/clark-young-160446.jpg" alt="" uk-cover>
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
            <h3 class="uk-margin-remove">Overlay Bottom</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </li>
        <li>
          <img src="/img/tmp/david-gylland-342621.jpg" alt="" uk-cover>
        </li>
        <li>
          <img src="/img/tmp/joanna-kosinska-44214.jpg" alt="" uk-cover>
        </li>
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>

  <div class="uk-section">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-expand@m">
          <h2>What is the History Museum?</h2>
          <p>Bavaria ipsum dolor sit amet trihöleridi dijidiholleri a bissal großherzig jo mei hoid hallelujah sog i, luja Haferl scheans da. Freibia da fei sei! Oamoi resch mechad i mog di fei! Hod hoggd ned, i mog di fei. Nimmds wia da Buachbinda Wanninger Trachtnhuat sog i is obacht.</p>
        </div>
        <div class="uk-width-1-3@m">
          <div class="uk-card uk-card-default uk-card-body">
            <h3>Blog</h3>
            test
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section">
    <div class="uk-container">
      <div class="uk-child-width-expand@s uk-text-center" uk-grid-parallax>
        <div>
          <div class="uk-card uk-card-default uk-grid-margin">
            <div class="uk-card-header">Exhibition A</div>
            <div class="uk-card-body">
              <img src="/img/tmp/clark-young-160446.jpg" width="100%">
              <p>
                Bavaria ipsum dolor sit amet trihöleridi dijidiholleri a bissal großherzig jo mei hoid hallelujah sog i, luja Haferl scheans da. Freibia da fei sei!
              </p>
            </div>
            <div class="uk-card-footer"><a href="/exhibitions">View exhibition &raquo;</a></div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-grid-margin">
            <div class="uk-card-header">Exhibition B</div>
            <div class="uk-card-body">
              <img src="/img/tmp/david-gylland-342621.jpg" width="100%">
              <p>
                Bavaria ipsum dolor sit amet trihöleridi dijidiholleri a bissal großherzig jo mei hoid hallelujah sog i, luja Haferl scheans da. Freibia da fei sei!
              </p>
            </div>
            <div class="uk-card-footer"><a href="/exhibitions">View exhibition &raquo;</a></div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-grid-margin">
            <div class="uk-card-header">Exhibition C</div>
            <div class="uk-card-body">
              <img src="/img/tmp/mike-petrucci-142796.jpg" width="100%">
              <p>
                Bavaria ipsum dolor sit amet trihöleridi dijidiholleri a bissal großherzig jo mei hoid hallelujah sog i, luja Haferl scheans da. Freibia da fei sei!
              </p>
            </div>
            <div class="uk-card-footer"><a href="/exhibitions">View exhibition &raquo;</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
