{% extends "mainBody.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <ul>
    {% for item in items %}
      <li>{{ item.name }}</li>
    {% endfor %}
  </ul>

  {% markdown %}
    # Inline Markdown
    ## It works!
    text<br>
    ** test **
  {% endmarkdown %}

{% endblock %}
