{% extends "mainBody.njk" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}

  {% markdown %}
    # Inline Markdown
    ## It works!
    text<br>
    ** test **
  {% endmarkdown %}

{% endblock %}
