<footer class="main-footer uk-margin-large-top">
  {#<div class="uk-section uk-section-muted">
    <div class="uk-container">
      Newsletter? Search? Social media?

      <a href="/donate" class="uk-button uk-button-secondary">Donate</a>
    </div>
  </div>#}
  <div class="uk-section uk-section-secondary">
    <div class="uk-container uk-text-center">
      <ul class="uk-subnav uk-subnav-divider uk-flex uk-flex-center">
        <li><a href="/about">About the Museum</a></li>
        <li><a href="/sitemap">Site Map</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/legal/imprint">Imprint</a></li>
        <li><a href="/legal/privacy-statement">Privacy Statement</a></li>
        <li><a href="/donate">Donate</a></li>
      </ul>

      <div class="uk-margin-top uk-text-muted">
        &copy; History Museum
      </div>
    </div>
  </div>
</footer>
