<nav class="main-nav">
  <div class="uk-container">
    <div uk-grid>
      <div>
        <div class="main-logo">History Museum</div>
      </div>

      <div>
        <div class="nav-links">
          <a href="/exhibitions"><i class="fas fa-image text-icon-left"></i>Exhibitions</a>
          <a href="/browse"><i class="fas fa-eye text-icon-left"></i>Browse</a>
          <a href="/inventory"><i class="fas fa-archive text-icon-left"></i>Inventory</a>
          <a href="/research"><i class="fas fa-book text-icon-left"></i>Research</a>
          <a href="/blog"><i class="fas fa-newspaper text-icon-left"></i>Blog</a>
        </div>
      </div>

      <div class="uk-width-expand@m">
        <div class="uk-text-right">
          <a href="/donate" class="uk-button uk-button-secondary">Donate</a>
        </div>
      </div>

    </div>
  </div>
</nav>
