{% if numberOfPages > 1 %}
    <ul class="uk-pagination uk-flex-center" uk-margin>
        {% if page > 0 %}
            <li><a href="?page={{ previousPage }}"><span uk-pagination-previous></span></a></li>
        {% endif %}

        {% for i in range(0, numberOfPages) %}
            <li><a href="?page={{ i }}" {% if i == page %}class="uk-active"{% endif %}>{{ i + 1 }}</a></li>
        {% endfor %}

        {% if nextPage > 0 %}
            <li><a href="?page={{ nextPage }}"><span uk-pagination-next></span></a></li>
        {% endif %}
    </ul>
{% endif %}
